<app-menu></app-menu>


<div class="d-flex justify-content-center align-items-center flex-column p-2"
     style="background-color: #ffffff; min-height: 50vh">
    <h2 *ngIf="semProdutos()" class="text-center mb-5">Não encontramos produtos com este nome.</h2>
    <h2 *ngIf="temProdutos()" class="text-center mb-5">Produtos</h2>
    <div class="d-flex flex-row flex-wrap justify-content-start row col-xl-12 col-lg-12 col-sm-12 col-md-12"
         style="background-color: #ffffff; min-width: 300px"
         *ngIf="temProdutos()">
        <div *ngFor='let produto of listaProdutos'
             class="col-xl-2 col-lg-4 col-md-6 col-sm-12"
             style="min-width:300px">
            <div class="card d-flex flex-column align-items-center justify-content-between p-4 mb-4"
                 style="height:460px"
                 [routerLink]="['/produto', produto.id]">
                <div class="d-flex justify-content-center align-items-center img-container">
                    <img alt="Imagem do produto" src="{{produto.foto}}">
                </div>
                <div class="card-body text-center d-flex flex-column justify-content-between">
                    <h4 class="nome">{{produto.nome}}</h4>
                    <small class="text-muted"></small>
                    <p id="preco">R$ {{produto.precoUnitario.toFixed(2).replace('.', ',')}}</p>
                    <small class="mb-2">Proprietário: {{produto.usuario_produtos_criados.nome}}</small>
                    <a [routerLink]="['/visualizar-produto', produto.id]" class="btn btn-success w-100"
                       data-toggle="modal"
                       data-target="#ExemploModalCentralizado">Ver Produto</a>
                </div>
            </div>

        </div>
    </div>
</div>
<app-rodape></app-rodape>