<app-menu></app-menu>
<body>
    <div class="container mt-5 mb-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-center align-items-center"> 

                <div class="card" style="width: 24rem; border-color: dimgray; background-color: hsl(0, 0%, 88%);">
                    <div class="card-body">
                      <h5 class="card-title text-center" style="   font-size: 25pt;
                      font-family: American Typewriter, serif;">Contato do vendedor</h5>
                      <p class="mt-6" style="   font-size: 15pt;
                      font-family: American Typewriter, serif;"><a>Nome: Gustavo Guimaraem</a></p>
                      <p style="   font-size: 15pt;
                      font-family: American Typewriter, serif;"><a>Email: gustavoGui@gmailcom</a></p>
                    <textarea style="font-size: 15px; font-family: American Typewriter, serif;" name="" id="" cols="42" rows="4" placeholder="Entre em contato com o vendedor"></textarea>
                      <p class="card-text" style="   font-size: 15pt;
                      font-family: American Typewriter, serif;">Para finalizar a doação de seu material, entre em contato com o vendedor(a) para acertar últimos detalhes.</p>
                      <button href="#" class="btn btn-success" style="margin-left: 60%;" (click)="btnDoar()">Doar material</button> 
                    </div>
                  </div>


            </div>
        </div>
    </div>
               
</body>
<app-rodape></app-rodape>