<app-menu></app-menu>

<body>
<div class="container mt-5 mb-5">
    <div class="col-md-12">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card" style="width: 24rem; border-color: dimgray; background-color: hsl(0, 0%, 88%);">
                <div class="card-body">
                    <h4 style="font-weight: bold">Contato do vendedor</h4>
                    <a><p class="cardRowElement">Nome: Gustavo Guimaraem</p></a>
                    <a><p class="cardRowElement">Email: gustavoGui@gmail.com</p></a>
                    <textarea class="cardRowElement w-100" name="" id="" rows="4"
                              placeholder="Entre em contato com o vendedor"></textarea>
                    <p class="cardRowElement">Para finalizar a doação de seu material, entre em contato com o(a)
                        vendedor(a) para acertar últimos detalhes.</p>
                    <button href="#" class="btn btn-success" (click)="btnDoar()">Doar material</button>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
<app-rodape></app-rodape>