<app-menu></app-menu>

<div class="p-4 d-flex flex-column justify-content-between">
    <div class="d-flex flex-column justify-content-center align-items-center my-2">
        <div class="my-2" style="max-height:355px ; max-width: 355px">
            <img src={{produto.foto}} alt="Imagem de capa do card"
                 style="object-fit: contain; width:100%; height:100%">
        </div>


        <div class="container d-flex justify-content-center">
            <div class="col-md-6 container justify-content-center my-2">
                <h1 class="my-4">{{produto.nome}}</h1>

                <div class="dropdown my-3 p-0">
                    <button class="btn btn-transparent dropdown-toggle m-0 p-0" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Unidades
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">1</a>
                        <a class="dropdown-item">2</a>
                        <a class="dropdown-item">3</a>
                        <a class="dropdown-item">4</a>
                    </div>
                </div>

                <p class="my-3">R${{produto.precoUnitario.toFixed(2).replace('.', ',')}}</p>
                <p class="my-3">12x <a href="" style="color: green;">Sem juros</a></p>


                <div class="dropdown my-3">
                    <button class="btn btn-transparent dropdown-toggle m-0 p-0" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Formas de pagamento
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"> <i class="fa fa-credit-card"></i></a>
                        <a class="dropdown-item"> <i class="fa fa-cc-paypal"></i></a>
                    </div>
                </div>


                <div>
                    <strong class="my-3">Descrição do produto</strong>
                    <p>{{produto.descricao}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="container d-flex justify-content-center">
        <div class="col-md-6  my-2 mx-0 p-0">
            <h3><strong>Conheça nosso(a) vendedor(a)</strong></h3>
            <p class="text-justify">Vendedor Padrão: Roberto
                Roberto tem 25 anos e tem uma filha de 2 anos, mora com os pais e a avó materna a qual o ensina a fazer
                crochê e tricô desde que ele era criança.
                Com a pandemia ele perdeu o emprego de vendedor e precisou se reinventar para complementar a renda,
                assim surgiu a "Moda Praia Locatelli ", graças ao apoio do Sustenta Commerce os produtos de Roberto que
                só vendiam no bairro onde o mesmo mora tem alcance nacional.</p>
            <div class="col-md-12 d-flex justify-content-center flex-wrap flex-row my-2 mx-0 p-0">
                <button type="button" class="btn btn-secondary btn-acao-produto my-2" data-dismiss="modal"
                        routerLink='/doar-material'>Doar um
                    material
                </button>
                <button type="button" class="btn btn-success btn-acao-produto my-2" data-dismiss="modal"
                        (click)='addToCart()'>Adicionar ao
                    carrinho
                </button>
            </div>

            <div class="col-md-12 d-flex justify-content-center flex-wrap flex-row mx-0 p-0 my-2" *ngIf="autor()">
                <button *ngIf="authService.vendedor()" type="button" class="btn btn-primary btn-acao-produto my-2"
                        data-dismiss="modal" [routerLink]="['/produto-edit', produto.id]">Editar
                </button>
                <button *ngIf="authService.vendedor()" type="button" class="btn btn-danger btn-acao-produto my-2"
                        data-dismiss="modal" [routerLink]="['/produto-delete', produto.id]">Apagar
                </button>
            </div>

        </div>
    </div>

</div>
<app-rodape></app-rodape>