<div class="container-fluid m-0 p-0" style="height: 100vh">
    <div class="menuContainer">
        <div class="m-0 p-0 logo">
            <a routerLink='/inicio'>
                <img width="120px" height="120px" class="imagem" src="../../assets/logo-sustenta-transparente.png" alt="logo">
            </a>
        </div>
        <div class="card bg-light menu">
            <div class="card-body">
                <h1 class="text-center">Cadastrar</h1>
                <div class="form-group">
                    <label for="nome"> Nome</label>
                    <input (keyup)="validaNome($event)" [(ngModel)]='user.nome' type="text" class="form-control" name="nome" id="nome" placeholder="Seu nome">
                </div>

                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input (keyup)="validaUsuario($event)" [(ngModel)]='user.usuario' type="text" class="form-control" name="usuario" id="usuario" placeholder="Seu usuario">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input (keyup)="validaEmail($event)" [(ngModel)]='user.email' type="email" class="form-control" name="email" id="email" placeholder="Seu email">
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input (input)='confirmSenha($event)' type="password" class="form-control" name="senha" id="senha" placeholder="Sua senha">
                </div>

                <div class="form-group">
                    <label for="confirmSenha">Confirmar senha</label>
                    <input [(ngModel)]='user.senha' type="password" class="form-control" name="confirmSenha" id="confirmSenha" placeholder="Confirme a sua senha">
                </div>

                <div class="text-center">
                    <label for="">Deseja cadastrar-se como vendedor(a)?</label>
                    <br>
                    <input (change)='tipoUser($event)' type="radio" name="usuarioVendedor" id="sim" value="true"> Sim
                    <input (change)='tipoUser($event)' type="radio" name="usuarioVendedor" id="nao" value="false" checked> Não
                </div>

                <hr class="mt-3">
                <div class="d-flex justify-content-center mt-3">
                    <div class="d-flex p-1">
                        <button type="submit" class="btn btn-danger" routerLink='/inicio'>Cancelar</button>
                    </div>
                    <div class="d-flex p-1">
                        <button type="submit" class="btn btn-success" (click)='cadastrar()'>Confirmar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="bg-white m-0 p-0"></div>
    <div class="bg-green m-0 p-0"></div>
</div>