<body style="background-color: #9acd32;">
    <hr class="mt-5 mb-3">
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="first">


                        <div>
                            <h3>
                                Navegue
                            </h3>
                            <p><a routerLink='/inicio'>Home</a></p>
                            <p><a routerLink='/produtos'>Produtos</a></p>
                            <p><a routerLink='/sobre-nos'>Sobre nós</a></p>
                            <p><a routerLink='/categorias'>Categorias</a></p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="text-center">Certificação:</h3>
                    <a href="https://i.imgur.com/R0nHciz.png" target="_blank"><img class="mb-4 mt-3" src="https://images-ext-1.discordapp.net/external/uSVhC48UzZWfXmRu1AAjE-GUsuDB-3bH0_QPOEriOa0/https/lh3.googleusercontent.com/proxy/ot1ESv0qITn9YrN9pBS5OPmJ0V_FOe91_FaTspJKd81QswSRbaUmq8xUjkUAn-C3nquAERwwMQjtxyTZJ6xv80b9OXtlOER8iifYDF-Q-_Bs_jgoZHsVeO86ff39"
                            alt="Certificado selo verde"></a>
                </div>


                <div class="d-flex justify-content-end col-md-4">
                    <div class="second">
                        <h4> Criadores</h4>
                        <p><a routerLink='/sobre-nos'>Juliana Sousa</a></p>
                        <p><a routerLink='/sobre-nos'>Kevelly Braga</a></p>
                        <p><a routerLink='/sobre-nos'>Patricia Araujo</a></p>
                        <p><a routerLink='/sobre-nos'>Roberto Locatelli</a></p>
                        <p><a routerLink='/sobre-nos'>Thiago Silva</a></p>

                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="line"></div>
                    <div class="second2">
                        <p class="text-center"> &copy; 2021 Todos os direitos reservados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>