<footer class="d-flex flex-column">
    <div class="d-flex flex-wrap flex-row justify-content-between">
        <div class="d-flex" style="flex: 1">
            <div class="d-flex flex-column align-items-center justify-content-center p-4">
                <a href="#">
                    <img src="../../assets/logo-sustenta-transparente.png " width="200px" height="200px"
                         routerLink='/inicio'>
                </a>
                <h2 style="text-align: center">Sustenta Commerce</h2>
                <p style="text-align: center">Sustentabilidade começa no nosso consumo </p>
            </div>
        </div>
        <div class="d-flex flex-wrap flex-row justify-content-between" style="flex: 1">
            <div class="d-flex flex-column p-4" style="flex: 1">
                <div class="navegue-footer">
                    <h2>Navegue</h2>
                    <ul class="footer-list footer-navegue-list">
                        <li>
                            <a routerLink='/sobre-nos'>
                                <p> Sobre nós</p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/produtos'>
                                <p>
                                    Produtos
                                </p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/categorias'>
                                <p>
                                    Categorias
                                </p>
                            </a>
                        </li>
                        <li>
                            <a routerLink='/cadastrar'>
                                <p>Cadastro</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://chat.whatsapp.com/DYaqFW2PvfOArB6ZHuNzIb" target="_blank"
                               class="icoLinkedin estiloEscrita card-text">
                                <p>Whatsapp&nbsp;<i style="" class="fa fa-whatsapp" aria-hidden="true"></i></p>
                            </a>
                        </li>
                        <li>
                            <a href="" target="_blank" class="estiloEscrita">
                                <p>E-mail</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="d-flex flex-column p-4" style="flex: 1">
                <h2>Desenvolvedores</h2>
                <ul class="footer-list footer-navegue-list">
                    <li>
                        <a routerLink='/sobre-nos'>
                            <p>Juliana Souza</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink='/sobre-nos'>
                            <p>Kevelly Braga</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink='/sobre-nos'>
                            <p>Patricia Araújo</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink='/sobre-nos'>
                            <p>Roberto Locatelli</p>
                        </a>
                    </li>
                    <li>
                        <a routerLink='/sobre-nos'>
                            <p>Thiago Silva</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center"> &copy; 2021 Todos os direitos reservados</p>

</footer>    