/*
.estiloEscrita {
    font-size: 15pt;
    color: black;
    font-family: American Typewriter, serif;
}


.fundoRoda {
    background-color: #4a8d5a;
    border-color: transparent;
} 
*/

footer {
    background-color:#d4e0bb;
    padding-top:5em;
    
    padding-bottom: 40px;
    border-top: 5px solid #4a8d5a;
}
footer h2, footer a {
    color: black;
    font-family: American Typewriter, serif;
}

footer h2 {
    font-weight: 400;
}
footer a{
    text-decoration: none;
}
footer ul{
    padding: 0;
}
footer li {
    list-style: none;
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    padding-left: 5em;  
}

footer .wrapper:after{
    clear: both;
    content: "";
    display: block;
}
.company-footer{
    width: 80%;
}
.company-footer h2{
    margin-top: 20px;
}
.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}

.footer-list{
    margin-bottom: 15px;
}
.footer-list a{
    transition: .2s;

}

.footer-list.footer-navegue-list a:hover{
    color:#4a8d5a;
    font-size: 20pt;

}
.footer-list.footer-navegue-list{
    font-size: 15pt;
    font-family: American Typewriter, serif;
}
.footer-list li:after{
    clear: both;
    content: "";
    display: block;
}
.navegue-footer{
    width: 80%;

}
.footer-bottom{
    border-top: 1px solid #4a8d5a ;

}
.footer-bottom p{
    font-weight: 600;
    margin-top: 40px;
}

