<app-menu></app-menu>

<div class="container mt-3">
    <h1 class="mt-3 text-center">Carrinho</h1>

    <div class="container-fluid mt-3 mb-3" id="container-produto">

        <div class="row d-flex justify-content-center" id="produto" *ngFor="let i of carrinho">

            <div class="col-md-2"> <img width="75px" height="75px" src={{i.foto}} alt=""></div>
            <div class="col-md-3">
                <p id="nome">{{i.nome}}</p>
                <p id="preco">R$ {{i.precoUnitario.toFixed(2).replace('.', ',')}}</p>
            </div>


        </div>
    </div>

    <div class="confirma">
        <hr>
        <h3 class="text-center" id="total"><strong>Valor a ser pago:</strong> R$ {{precoTotal.toFixed(2).replace('.', ',')}} </h3>
        <div class="d-flex justify-content-center">
            <button type="submit" id="continuar" class="btn mr-3" routerLink="/inicio"><strong>Continuar
            comprando</strong></button>
            <button type="submit" id="comprar" class="btn"><strong>Comprar</strong></button>
        </div>
    </div>
</div>

<app-rodape></app-rodape>