<app-menu></app-menu>

<div class="container mt-5 mb-5" style="background-color: #d4e0bb;">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Atualizar Produto</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-6">


            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" [(ngModel)]='produto.nome'>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" id="descricao" [(ngModel)]='produto.descricao'>
            </div>

            <div class="form-group">
                <label for="precoUnitario">Preço</label>
                <input type="text" class="form-control" id="precoUnitario" [(ngModel)]='produto.precoUnitario'>
            </div>

            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="text" class="form-control" id="quantidade" [(ngModel)]='produto.quantidade'>
            </div>

            <div class="form-group">
                <label for="departamentoProduto">Departamento</label>
                <select [(ngModel)]='idCategoria' (change)='findByIdCategoria()' name="tema" id="categorias" class="form-control">
            <option *ngFor='let item of listaCategorias' value="{{item.id}}">
                {{item.departamentoProduto}}
            </option>
        </select>
            </div>


            <div class="d-flex justify-content-center">
                <button class="btn btn-danger mr-4" routerLink='/produtos'>Cancelar</button>
                <button class="btn btn-success" (click)='atualizarProduto()'>Atualizar</button>
            </div>

        </div>
    </div>
</div>


<app-rodape></app-rodape>