.fundoModal {
    background-color: #dfdfdf;
    border-color: rgb(110, 110, 110);
}

p {
    font-size: 16px;
    font-family: American Typewriter, serif;
}


.btn-acao-produto {
    height: 3rem;
    min-width: 100%
}