<app-menu></app-menu>


<body style="background-color: #d4e0bb;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

            <div class="carousel-item justfy-content-center d-flex">
                <img class="d-block w-100" width="400" height="600" src="https://i.imgur.com/elsGRuZ.png" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" width="400" height="600" src="https://i.imgur.com/IDliwEI.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" width="400" height="600" src="https://i.imgur.com/2lIstOP.jpg" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" width="400" height="600" src="https://i.imgur.com/Ilukh1R.jpg" alt="Terceiro Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <br>
    <br>

</body>
<div>
    <img style="margin-left: 5px;" src="https://i.imgur.com/bB7Wv59.jpg" alt="..cscscs" class="img-thumbnail">
</div>

<app-rodape></app-rodape>
<!---Fim carousel-->