.fundo{
    background-color: #d4e0bb;
    margin-top: 20px;
}
.fundoModal{
    background-color: #dfdfdf;
    border-color: rgb(110, 110, 110);
}

.img{
    max-width: 196;
    max-height: 240;
}
.TodosCards{
    border: crimson;
    border-radius: 15px;
}
<<<<<<< HEAD

=======
img{     max-width: 196px;     max-height: 240px;   }
>>>>>>> aaeea4afa6c6eb8db6ab146740cc14f4d89a21f5
