<app-menu></app-menu>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Botão para acionar modal -->


<div class="container" style="background-color: #d4e0bb;">
    <button *ngIf="authService.logado()" type="button" class="btn btn-primary d-flex justify-content-center" data-toggle="modal" data-target="#modalExemplo">
<div class="container">
    <button *ngIf="authService.logado()" type="button" class="btn btn-primary d-flex justify-content-center"
        data-toggle="modal" data-target="#modalExemplo">
        Cadastrar
    </button>
    <button *ngIf="authService.deslogado()" type="button" class="btn btn-primary d-flex justify-content-center"
        routerLink='/entrar'>
        Logar
    </button>

</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]='produto.nome' type="text" class="form-control" name="nome" id="nome"
                        placeholder="nome do produto">
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input [(ngModel)]='produto.descricao' type="text" class="form-control" name="descricao"
                        id="descricao" placeholder="Descrição do produto">
                </div>

                <div class="form-group">
                    <label for="precoUnitario">Preço</label>
                    <input [(ngModel)]='produto.precoUnitario' type="text" class="form-control" name="precoUnitario"
                        id="precoUnitario" placeholder="Preço do produto">
                </div>

                <div class="form-group">
                    <label for="foto">Foto</label>
                    <input [(ngModel)]='produto.foto' type="text" class="form-control" name="foto" id="foto"
                        placeholder="Link da foto do produto">
                </div>

                <div class="form-group">
                    <label for="quantidade">Quantidade</label>
                    <input [(ngModel)]='produto.quantidade' type="text" class="form-control" name="quantidade"
                        id="quantidade" placeholder="Quantidade dos produtos">
                </div>

                <div class="form-group">
                    <label for="texto">Escolha um departamento ou <a data-dismiss="modal"
                            routerLink='/categorias'>cadastre um novo</a>:
                    </label>
                    <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                        <option *ngFor='let item of listaCategorias' value="5">
                            {{item.departamentoProduto}}
                        </option>
                    </select>
                </div>
                
                <!--div class="form-group">
                    <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/categorias'>cadastre um novo</a>:
                    </label>
                    <select name="tema" id="categorias" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
                      <option *ngFor='let item of listaCategorias' value="{{item.id}}">
                        {{item.departamentoProduto}}
                      </option>
                    </select>
                  </div-->

            </div>

            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger mr-3" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)='cadastrarProduto()'
                    data-dismiss="modal">Confirmar</button>
            </div>
        </div>
    </div>
</div>



<div class="row" style="background-color: #d4e0bb;">
    <!--div envolvendo todos os cards-->
    <div class="col-sm-4 mb-3" *ngFor='let produto of listaProdutos'>

        <!--cada card com o produto-->
        <div class="card" [routerLink]="['/produto', produto.id]">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" alt="Imagem do produto" src="{{produto.foto}}">
            </div>
            <div class="card-body text-center">
                <h4 class="nome">{{produto.nome}}</h4>
                <small class="text-muted">categoria</small>
                <p id="preco">R$ {{produto.precoUnitario}}</p>
                <a class="btn btn-verde w-100" data-toggle="modal" data-target="#ExemploModalCentralizado">Ver
                    produto</a>
            </div>
        </div>

    </div>
</div>


<app-rodape></app-rodape>






<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog"
    aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Descrição do produto </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" *ngFor='let item of listaProdutos'>
                    <div class="col-md-6">
                        <img src="{{item.foto}}" alt="foto do produto">
                    </div>
                    <div class="col-md-6">
                        <h1>{{item.nome}}</h1>
                        <p>R${{item.precoUnitario}}</p>
                        <p>{{item.descricao}}</p>
                        <p>{{item.quantidade}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>

