.fs-16 {
    font-size: 20pt;
    font-family: American Typewriter, serif;
    color: black;
}

.fs {
    color: black;
    font-family: American Typewriter, serif;
}

.a {
    cursor: pointer;
}

.fonte {
    color: rgb(42, 73, 11);
}

#divBusca {
    border-radius: 15px;
    width: 500px;
    position: relative;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-style: italic;
    font-size: 15px;
    border: none;
}

#barradenavegacao {
    height: 90px;
    width: 100%;
    z-index: 10;
    background-color: #d4e0bb;
}

.inputpesquisa {
    border-radius: 50px;
    position: relative;
    width: 600px;
    justify-content: center;
    border-color: #6e6d6d;
    border-width: 2px;
}

.btnCategoria {
    font-size: 15pt;
    font-family: American Typewriter, serif;
}

.fa-shopping-cart {
    font-size: 25pt;
}

.fa-search {
    font-size: 17pt;
}

.pLogin {
    font-size: 15pt;
    color: black;
    font-family: American Typewriter, serif;
}

.h4 {
    font-size: 15pt;
    font-family: American Typewriter, serif;
}
.ul-navbar-categorias .item-ul-navbar-categoria{
    font-size: 15pt;
    font-family: American Typewriter, serif;
    
    
}

.ul-navbar-categorias .item-ul-navbar-categoria:hover {
    background-color: var(--background-green);
    color:var(--logo-green);
    font-family: American Typewriter, serif;
    font-size: 17pt;
}

.l1 {
    color: rgb(0, 0, 0);
    font-family: American Typewriter, serif;
}

i:hover {
    color: rgba(124, 124, 124, 0.5);
}

.item-ul-navbar-categoria {
    cursor: pointer;
}