.fs-16 {
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.a {
    cursor: pointer;
}

.fonte {
    color: rgb(42, 73, 11);
}

#divBusca {
    border-radius: 15px;
    width: 500px;
    position: relative;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-style: italic;
    font-size: 15px;
    border: none;
}

#barradenavegacao {
    height: 50px;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: transparent;
}

#btnpesquisa {
    margin-left: 80%;
}

.inputpesquisa {
    border-radius: 8px;
    position: relative;
    width: 300px;
}