<!---inicio Menu -->
<div class="d-flex flex-column">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: var(--background-green)">
        <a class="navbar-brand d-flex flex-row align-items-center" routerLink='/inicio'>
            <img src="../../assets/logo-sustenta-transparente.png" alt="Logo Sustenta Commerce" width="70px" height="70px" class="">
            <h4 class="m-0 p-2 fs"> Sustenta Commerce</h4>
        </a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
            <form class="d-flex no-wrap my-2 my-lg-0">
                <input (change)='onChangePesquisaProduto($event)' class="form-control" type="search" placeholder="Pesquisar" style="height: 3rem; border-right: none; border-radius: 0px">
                <div class="input-group-append">
                    <button  type="submit" (click)='getProdutosFullText()' class="input-group-text" style="background-color: white; border-left: none; height: 3rem; border-radius: 0px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-search m-0 p-0" viewBox="0 0 16 16" style="opacity: 0.3">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
            </form>

            <ul class="navbar-nav flex-row d-flex my-2 my-lg-0">
                <i class="fa fa-shopping-cart  ml-2" routerLink='/carrinho'></i>
                <li class="nav-item  ml-2"></li>

                <li *ngIf="authService.deslogado()" class="nav-item ml-2">
                    <a class="pLogin" routerLink='/entrar'>Login</a>
                </li>

                <li *ngIf="authService.logado()" class="nav-item  ml-2">
                    <a class="pLogin" (click)='sair()'>Deslogar</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" style="align-self: flex-end" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    <nav class="navbar d-none d-xl-flex p-0" style="background-color: var(--logo-green); height: 3rem;">
        <div class="d-flex justify-content-center w-100 h-100">
            <ul style="list-style: none" class="d-flex justify-content-center flex-row w-75 m-0 p-0 ul-navbar-categorias l1">
                <li class="d-flex pl-4 pr-4 h-100 align-items-center item-ul-navbar-categoria">
                    <a>
                        Palete
                    </a>
                </li>
                <li class="d-flex pl-4 pr-4 h-100 align-items-center item-ul-navbar-categoria">
                    <a>
                        Vidro
                    </a>
                </li>
                <li class="d-flex pl-4 pr-4 align-items-center item-ul-navbar-categoria">
                    <a>
                        Plástico
                    </a>
                </li>
                <li class="d-flex pl-4 pr-4 align-items-center item-ul-navbar-categoria">
                    <a>
                        Crochê
                    </a>
                </li>
                <li class="d-flex pl-4 pr-4 align-items-center item-ul-navbar-categoria">
                    <a>
                        Pneu
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>