.fs-16 {
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.a {
    cursor: pointer;
}

.fonte {
    color: rgb(42, 73, 11);
}

#divBusca {
    border-radius: 15px;
    width: 500px;
    position: relative;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 20px;
    font-style: italic;
    font-size: 15px;
    border: none;
}

#barradenavegacao {
    height: 90px;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: #ffffff;
}

#btnpesquisa {
    margin-left: 80%;
}

.inputpesquisa {
    border-radius: 8px;
    position: relative;
    width: 600px;
    margin-bottom: 1%;
    justify-content: center;
    border-color: #6e6d6d; 
    border-width: 2px; 
    
}
.btnCategoria{
    font-size: 15pt;
    font-family: American Typewriter, serif;
   
}
.fa-shopping-cart{
    font-size: 30pt;
    margin-bottom: 1%;  
}
.fa-search{
    font-size: 17pt;
   
    margin-bottom: 5%;    
}
.pLogin{
    font-size: 17pt;
    color: black;
    font-family: American Typewriter, serif;
}
