<app-menu></app-menu>


<footer class="page-footer font-small  pt-4 mb-5" id="sobre-nos" style="background-color: #ffffff;">

    <div class="container " id="cards">
        <div>
            <h3 class="text-center">Quem somos:</h3>
            <p>Somos uma empresa Brasileira de Produtos Ecologicamente Corretos que tem como compromisso e
                responsabilidade socioambiental. Buscamos empresas de todo o Brasil que produzam seus produtos de
                maneira sustentável. Esses produtos inovadores
                colaboram para a baixa emissão de carbono e são distribuídos com intuito de disponibilizar ao
                público
                algumas soluções sustentáveis. </p>
            <br>
            <br>
            <h3 class="text-center">Objetivos:</h3>
            <p>Comercializar produtos sustentáveis e biodegradáveis contribuindo, assim, para um consumo consciente
                reduzindo os impactos ambientais causados pelo mesmo. Visamos ser uma plataforma que propaga um
                pensamento de consumo consciente na sociedade
                e para que pequenas empresas possam anunciar, vender e gerir seus produtos de uma maneira eficaz.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-3">
                <h4 class="text-black"> Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="d-flex flex-row flex-wrap justify-content-center">

            <div class="card  my-2 my-lg-0 image-hover img-shadow-1" style="width: 12rem; margin-left: 2%;">
                <img class="card-img-top" height="110px" width="75px" src="../../assets/Juh.jpg"
                     alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Juliana Sousa</p>
                    <a href="https://www.linkedin.com/in/juliana-ferreira-de-sousa-b47126210/"
                       target="_blank"><img class="p-2" height="45px" width="45px"
                                            src="https://i.imgur.com/ZwNPtbJ.png" alt="dssada"></a>
                    <a href="https://github.com/julianazeus" target="_blank"><img class="p-2" height="45px"
                                                                                  width="45px"
                                                                                  src="https://i.imgur.com/1q8pIuy.png"
                                                                                  alt="ccss"></a>
                </div>
            </div>

            <div class="card  my-2 my-lg-0 image-hover img-shadow-1" style="width: 12rem; margin-left: 1%;">
                <img class="card-img-top" height="110px" width="75px" src="../../assets/kev.jpg"
                     alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Kevelly Braga</p>
                    <a href="https://www.linkedin.com/in/kevelly-braga-75b177172/" target="_blank"><img
                            class="p-2" height="45px" width="45px" src="https://i.imgur.com/ZwNPtbJ.png"
                            alt="dssada"></a>
                    <a href="https://github.com/Kevellybp" target="_blank"><img class="p-2" height="45px"
                                                                                width="45px"
                                                                                src="https://i.imgur.com/1q8pIuy.png"
                                                                                alt="ccss"></a>
                </div>

            </div>

            <div class="card  my-2 my-lg-0 image-hover img-shadow-1" style="width: 12rem; margin-left: 1%;">
                <img class="card-img-top" height="110px" width="75px" src="../../assets/pati.jpg"
                     alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Patricia Araujo</p>
                    <a href="https://www.linkedin.com/in/patricia-araujo-dev/" target="_blank"><img
                            class="p-2" height="45px" width="45px" src="https://i.imgur.com/ZwNPtbJ.png"
                            alt="dssada"></a>
                    <a href="https://github.com/araujopat" target="_blank"><img class="p-2" height="45px"
                                                                                width="45px"
                                                                                src="https://i.imgur.com/1q8pIuy.png"
                                                                                alt="ccss"></a>
                </div>

            </div>

            <div class="card  my-2 my-lg-0 image-hover img-shadow-1" style="width: 12rem; margin-left: 1%;">
                <img class="card-img-top" height="110px" width="75px" src="../../assets/rob.png"
                     alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Roberto Locatelli</p>
                    <a href="https://www.linkedin.com/in/roberto-locatelli-9305b0211/" target="_blank"><img
                            class="p-2" height="45px" width="45px" src="https://i.imgur.com/ZwNPtbJ.png"
                            alt="dssada"></a>
                    <a href="https://github.com/RobertoLocatelli02" target="_blank"><img class="p-2"
                                                                                         height="45px"
                                                                                         width="45px"
                                                                                         src="https://i.imgur.com/1q8pIuy.png"
                                                                                         alt="ccss"></a>
                </div>

            </div>

            <div class="card  my-2 my-lg-0 image-hover img-shadow-1" style="width: 12rem; margin-left: 1%;">
                <img class="card-img-top" height="110px" width="75px" src="../../assets/Thi.jpg"
                     alt="Imagem de capa do card">
                <div class="card-body">
                    <p class="card-text">Thiago Silva</p>
                    <a href="https://www.linkedin.com/in/thiago-silva-369aa4192/" target="_blank"><img
                            class="p-2" height="45px" width="45px" src="https://i.imgur.com/ZwNPtbJ.png"
                            alt="dssada"></a>
                    <a href="https://github.com/ThiagoSSBacelli" target="_blank"><img class="p-2"
                                                                                      height="45px" width="45px"
                                                                                      src="https://i.imgur.com/1q8pIuy.png"
                                                                                      alt="ccss"></a>
                </div>

            </div>

        </div>
    </div>


</footer>


<app-rodape></app-rodape>